.login-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20%;
  }
  
  .login-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border: none;
    background-color: #64b1ff;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 120px;
    margin-top: 5%;
  }
  
  .login-button:hover {
    background-color: #848cff;
  }
  
  .login-icon {
    width: 48px;
    height: 48px;
  }
  
  .login-text {
    display: block;
  }
  