.notifications-container h2 {
    text-align: center;
    margin-bottom: 0;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    width: 100%;
  }
  
  .notifications-container h2:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .notifications-container nav {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ccc;
  }
  
  .links-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
  }
  
  .links-container a {
    flex-basis: 50%;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    color: black;
    border-right: 1px solid #ccc;
  }
  
  .links-container a:last-child {
    border-right: none;
  }
  
  .links-container a.active {
    background-color: #007bff;
    color: white;
  }